/* .resume-preview {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
}

.resume-header {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.resume-name {
  margin: 0;
  font-size: 24px;
}

.resume-title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.resume-contact-details {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.resume-section {
  margin-top: 20px;
}

.resume-section h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.resume-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.resume-section ul li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}

.work-experience-item {
  margin-bottom: 15px;
}

.work-experience-item h4 {
  margin: 0;
  font-size: 16px;
} */


.resume-preview {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
}

.resume-header {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.resume-name {
  margin: 0;
  font-size: 24px;
}

.resume-title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.resume-contact-details {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.resume-section {
  margin-top: 20px;
}

.resume-section h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.resume-section ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.resume-section ul li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}

.resume-section ul li::before {
  content: '\25B8';
  position: absolute;
  left: 0;
  top: 0;
}

.work-experience-item {
  margin-bottom: 15px;
}

.work-experience-item h4 {
  margin: 0;
  font-size: 16px;
}
